[submodule "modules/opstack"]
	path = modules/opstack
	url = https://github.com/cairoeth/optimism
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
